In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [31]:
df = pd.read_csv("Resources/New datasets/work-hours-per-week.csv")
df.rename(columns={" (hours per week)":"hours"},inplace=True)
df

             Entity Code  Year  hours
0         Australia  AUS  1870  56.20
1         Australia  AUS  1880  53.30
2         Australia  AUS  1890  50.50
3         Australia  AUS  1900  48.10
4         Australia  AUS  1913  44.70
5         Australia  AUS  1929  45.50
6         Australia  AUS  1938  45.00
7         Australia  AUS  1950  39.60
8         Australia  AUS  1960  39.60
9         Australia  AUS  1970  39.60
10        Australia  AUS  1980  39.20
11        Australia  AUS  1990  40.10
12        Australia  AUS  2000  40.55
13          Belgium  BEL  1870  72.20
14          Belgium  BEL  1880  69.30
15          Belgium  BEL  1890  66.50
16          Belgium  BEL  1900  64.20
17          Belgium  BEL  1913  59.50
18          Belgium  BEL  1929  48.20
19          Belgium  BEL  1938  48.00
20          Belgium  BEL  1960  42.50
21          Belgium  BEL  1970  39.90
22          Belgium  BEL  1980  38.50
23          Belgium  BEL  1990  36.60
24          Belgium  BEL  2000  36.90
25           Canada  CAN  1870  57.20
26           Canada  CAN  1880  59.00
27           Canada  CAN  1890  60.90
28           Canada  CAN  1900  62.60
29           Canada  CAN  1913  57.90
..              ...  ...   ...    ...
143     Switzerland  CHE  1950  47.50
144     Switzerland  CHE  1960  46.10
145     Switzerland  CHE  1980  43.80
146     Switzerland  CHE  1990  41.60
147  United Kingdom  GBR  1870  56.90
148  United Kingdom  GBR  1880  56.60
149  United Kingdom  GBR  1890  56.30
150  United Kingdom  GBR  1900  56.00
151  United Kingdom  GBR  1913  56.00
152  United Kingdom  GBR  1929  47.00
153  United Kingdom  GBR  1938  48.60
154  United Kingdom  GBR  1950  45.70
155  United Kingdom  GBR  1960  44.70
156  United Kingdom  GBR  1970  42.00
157  United Kingdom  GBR  1980  40.00
158  United Kingdom  GBR  1990  42.40
159  United Kingdom  GBR  2000  40.45
160   United States  USA  1870  62.00
161   United States  USA  1880  61.00
162   United States  USA  1890  60.00
163   United States  USA  1900  59.10
164   United States  USA  1913  58.30
165   United States  USA  1929  48.00
166   United States  USA  1938  37.30
167   United States  USA  1950  42.40
168   United States  USA  1960  40.20
169   United States  USA  1970  38.80
170   United States  USA  1980  39.10
171   United States  USA  1990  39.70
172   United States  USA  2000  40.25

[173 rows x 4 columns]

In [32]:
countries = df["Entity"].unique()
years = df["Year"].unique()

In [43]:
new_df = pd.DataFrame({"Countries" : countries})
new_df = new_df.set_index('Countries')

for cnt in countries:
    for yr in years:
        try:
            val = df.loc[(df["Entity"] == cnt) & (df["Year"] == yr), "hours"].values[0]
            prev_yr_val = val
            print(val)
            if val == 0 | val == 'NaN':
                val = prev_yr_val
            new_df.at[cnt, yr] = "{0:.2f}".format(val)
        except:
            new_df.at[cnt, yr] = prev_yr_val

# new_df = new_df.replace('nan', np.NaN)
# new_df = new_df.dropna(how='all')
new_df

56.2
53.3
50.5
48.1
44.7
45.5
45.0
39.6
39.6
39.6
39.2
40.1
40.55
72.2
69.3
66.5
64.2
59.5
48.2
48.0
42.5
39.9
38.5
36.6
36.9
57.2
59.0
60.9
62.6
57.9
49.0
47.2
42.3
40.7
39.7
38.5
38.0
39.4
69.9
64.6
59.9
56.0
55.8
48.5
47.6
46.0
44.4
39.0
37.5
35.0
38.5
66.1
66.0
65.9
65.9
62.0
48.0
39.0
44.8
45.9
44.8
40.7
39.9
35.75
67.6
66.3
65.1
64.0
57.0
46.0
48.5
48.2
45.6
43.8
41.6
39.0
39.9
63.8
62.0
60.2
58.6
56.4
46.6
48.2
45.0
42.7
41.1
42.1
39.35
63.3
63.4
63.6
63.8
62.4
48.8
48.5
47.8
42.4
42.9
42.5
39.6
38.4
65.0
63.4
61.9
60.5
58.6
48.1
48.5
49.2
45.1
40.8
34.0
33.85
64.7
62.7
60.8
59.1
56.7
48.5
47.0
40.0
38.9
35.45
69.6
64.6
59.9
56.0
56.0
48.0
46.3
46.8
43.4
37.7
38.2
37.7
65.4
63.1
60.9
59.0
56.3
48.5
46.3
47.5
46.1
43.8
41.6
56.9
56.6
56.3
56.0
56.0
47.0
48.6
45.7
44.7
42.0
40.0
42.4
40.45
62.0
61.0
60.0
59.1
58.3
48.0
37.3
42.4
40.2
38.8
39.1
39.7
40.25

,1870,1880,1890,1900,1913,1929,1938,1950,1960,1970,1980,1990,2000
Countries,,,,,,,,,,,,,
Australia,1056.2,1053.3,1050.5,1048.1,1044.7,1045.5,1045.0,1039.6,1039.6,1039.6,1039.2,1040.1,1040.55
Belgium,1072.2,1069.3,1066.5,1064.2,1059.5,1048.2,1048.0,1048.0,1042.5,1039.9,1038.5,1036.6,1036.90
Canada,1057.2,1059.0,1060.9,1062.6,1057.9,1049.0,1047.2,1042.3,1040.7,1039.7,1038.5,1038.0,1039.40
Denmark,1069.9,1064.6,1059.9,1056.0,1055.8,1048.5,1047.6,1046.0,1044.4,1039.0,1037.5,1035.0,1038.50
France,1066.1,1066.0,1065.9,1065.9,1062.0,1048.0,1039.0,1044.8,1045.9,1044.8,1040.7,1039.9,1035.75
Germany,1067.6,1066.3,1065.1,1064.0,1057.0,1046.0,1048.5,1048.2,1045.6,1043.8,1041.6,1039.0,1039.90
Ireland,1063.8,1062.0,1060.2,1058.6,1056.4,1046.6,1048.2,1045.0,1045.0,1042.7,1041.1,1042.1,1039.35
Italy,1063.3,1063.4,1063.6,1063.8,1062.4,1048.8,1048.5,1047.8,1042.4,1042.9,1042.5,1039.6,1038.40
Netherlands,1065.0,1063.4,1061.9,1060.5,1058.6,1048.1,1048.5,1049.2,1049.2,1045.1,1040.8,1034.0,1033.85
Spain,1064.7,1062.7,1060.8,1059.1,1056.7,1048.5,1047.0,1047.0,1047.0,1047.0,1040.0,1038.9,1035.45
Sweden,1069.6,1064.6,1059.9,1056.0,1056.0,1048.0,1046.3,1046.8,1043.4,1043.4,1037.7,1038.2,1037.70
Switzerland,1065.4,1063.1,1060.9,1059.0,1056.3,1048.5,1046.3,1047.5,1046.1,1046.1,1043.8,1041.6,1041.60
United Kingdom,1056.9,1056.6,1056.3,1056.0,1056.0,1047.0,1048.6,1045.7,1044.7,1042.0,1040.0,1042.4,1040.45
United States,1062.0,1061.0,1060.0,1059.1,1058.3,1048.0,1037.3,1042.4,1040.2,1038.8,1039.1,1039.7,1040.25

In [6]:
new_df.to_csv('Resources/urban-vs-rural-majority-clean.csv')